name: reusable-spell-check
on:
  workflow_call:
    inputs:
      config:
        required: false
        type: string
        default: ''
jobs:
  check:
    name: Typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - name: Check spelling
        uses: crate-ci/typos@v1.43.5
        with:
          config: ${{ inputs.config }}
