name: spell-check
on:
  workflow_call:
    inputs:
      config:
        required: false
        type: string
        default: .github/workflows/typos-config.toml
jobs:
  run:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Check spelling
        uses: crate-ci/typos@v1.39.0
        with:
          config: ${{ inputs.config }}
